<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.neu.mapper.UserMapper">

<!-- 代码编写处 -->

    <resultMap id="baseResultMap" type="com.neu.pojo.User">
        <id column="id"  property="id" />
        <result column="userName" property="userName" />
        <result column="password" property="password" />
    </resultMap>

    <!-- 根据ID查找User -->
    <select id="getUserById" resultMap="baseResultMap" parameterType="String" >
        select *
        from user
        where id=#{id}
    </select>

    <!--查找所有用户-->
    <select id="getAllUser" resultMap="baseResultMap">
        select *
        from user
    </select>

    <!--根据userName查找User-->
    <select id="getUserByUserName" resultMap="baseResultMap" parameterType="String" >
        select *
        from user
        where userName = #{userName}
    </select>

    <!--新增用户-->
    <insert id="insert" parameterType="com.neu.pojo.User">
        insert into user (id, userName, password)
        values (#{id},#{userName},#{password})
    </insert>
    <!--更新用户-->
    <update id="updateUserById" parameterType="java.lang.String">
        update user
        set userName = #{userName},password = #{password}
        where id = #{id}
    </update>

    <!--删除用户(因为他这个表没有flag，所以我猜应该是真删除)-->
    <delete id="deleteUserById" parameterType="java.lang.String">
        delete from user
        where id = #{id}
    </delete>

</mapper>



 
